@import vampirefsm.controllers.routes.VampireFSMController
@import play.api.Configuration
@import uk.gov.hmrc.play.views.html.helpers.{errorSummary, form, input_radio_group}

@()(implicit request: Request[_], messages: Messages, config: Configuration)

@vampirefsm.views.html.main_template(title = "Vampire Checker", bodyClasses = None) {

    <h1 class="heading-xlarge">Vampire Checker</h1>

    <p>Having unusual sympotoms?</p>
    <p>Used to love a steak slathered in garlic butter but now it terrifies you?</p>
    <p>Starting to sympathise with Nosferatu?</p>
    <strong style="font-weight: bold">Take our test now and get a head start on your immortality!</strong>

    <p>
        @form(VampireFSMController.submitStart) {
            <button id="start" class="text-link-small button button-start button--get-started" type="submit">Start now</button>
        }
    </p>
}
